[submodule "external/@worldbrain/memex-common"]
	path = firebase/functions/external/@worldbrain/memex-common
	url = https://github.com/WorldBrain/memex-common.git
[submodule "external/@worldbrain/memex-storage"]
	path = firebase/functions/external/@worldbrain/memex-storage
	url = https://github.com/WorldBrain/memex-storage.git
[submodule "external/@worldbrain/storex"]
	path = firebase/functions/external/@worldbrain/storex
	url = https://github.com/WorldBrain/storex.git
[submodule "external/@worldbrain/storex-backend-dexie"]
	path = firebase/functions/external/@worldbrain/storex-backend-dexie
	url = https://github.com/WorldBrain/storex-backend-dexie.git
[submodule "external/@worldbrain/storex-backend-firestore"]
	path = firebase/functions/external/@worldbrain/storex-backend-firestore
	url = https://github.com/WorldBrain/storex-backend-firestore.git
[submodule "external/@worldbrain/storex-pattern-modules"]
	path = firebase/functions/external/@worldbrain/storex-pattern-modules
	url = https://github.com/WorldBrain/storex-pattern-modules.git
[submodule "external/user-logic"]
	path = firebase/functions/external/user-logic
	url = https://github.com/ShishKabab/user-logic.git
[submodule "firebase/functions/external/@worldbrain/memex-url-utils"]
	path = firebase/functions/external/@worldbrain/memex-url-utils
	url = https://github.com/WorldBrain/memex-url-utils
[submodule "firebase/functions/external/@worldbrain/storex-middleware-change-watcher"]
	path = firebase/functions/external/@worldbrain/storex-middleware-change-watcher
	url = https://github.com/WorldBrain/storex-middleware-change-watcher
[submodule "firebase/functions/external/@worldbrain/memex-stemmer"]
	path = firebase/functions/external/@worldbrain/memex-stemmer
	url = git@github.com:WorldBrain/memex-stemmer.git
